@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #dadada;
}

body {
    background-color: #0a0a0a;
}

h1 {
    font-weight: 400;
    text-align: center;
    margin: 10px 0px;
    font-size: 45px;
}

h2 {
    text-align: center;
    font-weight: 400;
    margin: 5px 0px;
}

span {
    font-weight: 600;
}
